<div class="newest-track" style="background-image: url(<%= @tracks["data"][0]["pictures"]["extra_large"] %>)"></div>
<div class="all-tracks">
  <% @tracks["data"].each do |track| %>
    <div class="track-card" style="background-image: url(<%=track["pictures"]["320wx320h"]%>)" data-mixcloud-play-button="<%=track["url"]%>">
    </div>
    <div class="track-info">
      <%= track["name"] %>
      <%= (track["audio_length"].to_i)/60 %> min
    </div>
  <% end %>
</div>
<script src="//widget.mixcloud.com/media/js/footerWidgetApi.js" async>
{"feed": "/LobservatoireLive/"}
</script>
