<div class="banner-newest-track">
  <div class="newest-track" data-mixcloud-play-button="https://www.mixcloud.com/LobservatoireLive/" style="background-image: url(<%= @tracks["data"][0]["pictures"]["extra_large"] %>)"></div>
  <div class="newest-track-info">
    <div class="newest-track-head">La playlist de la semaine</div>
    <div class="newest-track-name"><%= @tracks["data"][0]["name"] %></div>
  </div>
</div>

<div class="all-tracks">
  <% @tracks["data"].each do |track| %>
    <div class="track-block" data-mixcloud-play-button="<%=track["key"]%>">
      <div class="track-card" style="background-image: url(<%=track["pictures"]["320wx320h"]%>)">
      </div>
      <div class="track-info">
        <h5><%= track["name"] %></h5>
        <p><%= (track["audio_length"].to_i)/60 %> min</p>
      </div>
    </div>
  <% end %>
</div>

<script>
    const elems = document.querySelectorAll('.track-block')
    for(let i = 0; i < elems.length; i++) {
      elems[i].addEventListener('click', function(){
        document.getElementById("mixcloud-player").remove();
        const tag = document.createElement("iframe");
        tag.id = "mixcloud-player"
        tag.width="100%"
        tag.height="60"
        tag.src = "https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&feed=" + elems[i].attributes[1].value
        tag.frameBorder="0"
        document.body.appendChild(tag);
      }, false);
    };
</script>
