<!DOCTYPE html>
<html>
  <head>
    <title>Lobsmaglive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-lobs">
      <h1>L'OBSERVATOIRE</h1>
    </div>
    <div class="containing">
      <%= yield %>
    </div>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
