<!DOCTYPE html>
<html>
  <head>
    <title>Lobsmaglive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="containing">
      <%= yield %>
    </div>
    <script src="//widget.mixcloud.com/media/js/footerWidgetApi.js" async>
    {"feed": "/LobservatoireLive/"}
    </script>
  </body>
</html>
